@font-face {
  font-family: Inter;
  font-display: auto;
  font-weight: 400;
  src: url("~/assets/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter;
  font-display: auto;
  font-weight: 500;
  src: url("~/assets/Inter-Medium.ttf");
}

@font-face {
  font-family: Inter;
  font-display: auto;
  font-weight: 700;
  src: url("~/assets/Inter-Bold.ttf");
}
